* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom left, rgb(128, 128, 128), rgb(150, 100, 100)) fixed;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bigBox{
    border: 15px solid rgb(233, 231, 231);
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.player1Box{
    border: 10px solid #552626;
    width: 50%;
    margin: 10px 10px;
    background-color: #552626;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player2Box{
    border: 10px solid #552626;
    width: 50%;
    margin: 10px 10px;
    background-color: #552626;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player1Head{
    border: 5px solid rgb(214, 212, 212);
    height: 50px;
    width: 50%;
    text-align: center;
    background-color: rgb(233, 231, 231) ;
    margin-bottom: 100px;
}
.player2Head{
    border: 5px solid rgb(214, 212, 212);
    height: 50px;
    width: 50%;
    text-align: center;
    background-color: rgb(233, 231, 231);
    margin-bottom: 100px;
}
.player1CircleScore{
    border: 10px solid rgb(214, 212, 212);
    height: 300px;
    width: 300px;
    text-align: center;
    padding-top: 110px;
    background-color: rgb(233, 231, 231);
    font-size: 4em;
    border-radius: 50%;
}
.player2CircleScore{
    border: 10px solid rgb(214, 212, 212);
    height: 300px;
    width: 300px;
    text-align: center;
    padding-top: 110px;
    background-color: rgb(233, 231, 231);
    font-size: 4em;
    border-radius: 50%;
}
.invisible{
    display:none;
}
.playerReset1{
    display:flex;
    justify-content:flex-end;
}